In [12]:
 a = 23

In [9]:
a = 45

In [13]:
print(a)

23

In [2]:
1 +2

3

In [14]:
type(a)

int

In [15]:
b = 21.77

In [16]:
type(b)

float

In [17]:
c= "sahil"

In [18]:
type(c)

str

In [21]:
d = "sahil"

In [22]:
type(d)

str

# comments

In [25]:
# this is my single line comment 
print("this is my comment")

this is my comment

In [26]:
# this is my
# multi line
# comment
print("this is my multi line comment")

this is my multi line comment

In [28]:
a = '''this is
my multi line
comment'''

In [29]:
a

'this is\nmy multi line\ncomment'

In [30]:
type(a)

str

In [35]:
name1="sahil"

In [36]:
print(name1)

sahil

In [37]:
print(name1)

sahil

In [38]:
f_name = "sahil"
l_name = "sangole"

In [45]:
full_name = f_name +" "+ l_name

In [46]:
print(full_name)

sahil sangole

In [47]:
a = 4 
b = 7

In [48]:
_sum = a + b
mul= a*b
_pow = a**2
div = a/b
ddiv = a//b

In [49]:
print(_sum)
print(mul)
print(_pow)
print(div)
print(ddiv)

11
28
16
0.5714285714285714
0

In [50]:
6//8

0

In [52]:
_sum
mul
div
ddiv

0

In [53]:
print(a)
print(b)

4
7

In [54]:
a+=1

In [55]:
print(a)

5

In [56]:
a-=1

In [57]:
print(a)

4

In [58]:
a+=b

In [59]:
print(a)

11

In [60]:
print(a + b)

18

In [61]:
a>b

True

In [62]:
b>a

False

In [63]:
a==b

False

In [69]:
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [71]:
a = 10
b = 100
c = 9

In [78]:
print(a>c or a>b)
print(a>c and a>b)

True
False

In [77]:
not False

True

In [79]:
r=4
area=3.14*r**2
print("Area of Circle",area)

Area of Circle 50.24

In [81]:
r=float(input("entre the Radius"))
area=3.14*r**2
print("Area of Circle",area)

entre the Radius54.2
Area of Circle 9224.189600000002

In [1]:
l= float(input("Enter the length of rectangle:"))
b= float(input("Enter the breadth of rectangle:"))
perimeter_rect=2*(l+b)
area_rect=l*b
print("perimeter=",perimeter_rect,"area=",area_rect)

Enter the length of rectangle:24
Enter the breadth of rectangle:26
perimeter= 100.0 area= 624.0

In [4]:
far=float(input("Enter  degree in fahrenheit="))
celsius=(far-32)*5/9
print("Degree in celsius=",celsius)

Enter  degree in fahrenheit=32
Degree in celsius= 0.0

In [5]:
num1=int(input("enter number 1"))
num2=int(input("enter number 2"))
sum=num1+num2
average=sum/2
print("average of twwo numbers is",average)

enter number 14
enter number 28
average of twwo numbers is 6.0

In [6]:
print(type(average))

<class 'float'>

In [7]:
a=float(input("enter the value"))
b=a**2
print(b)

enter the value24
576.0

In [11]:
apple_price = 1000
bugut = 500
if (apple_price > bugut):
    print("apple mat lo")
else:
    print("apple lelo")

apple mat lo

In [27]:
a = int(input("Enter number:"))
if (a==0):
    print("The number is Zero")
else:
    print("The number is non zero")

Enter number:0
The number is Zero

In [29]:
a=int(input("Enter any non-zero no:"))
if(a>0):
    print("Number is Positive")
else:
    print("Number is Negative")

Enter any non-zero no:0
Number is Negative

In [28]:
a=int(input("Enter any non-zero no:"))
if(a>=0):
    print("Number is Positive")
else:
    print("Number is Negative")

Enter any non-zero no:0
Number is Positive

In [32]:
a=int(input("Enter any non-zero no:"))
if(a>0):
    print("Nu.mber is positive")
else:
    if(a<0):
    print("Number is negative")
else:
    print("0")

IndentationError: expected an indented block (466835182.py, line 6)

In [41]:
a=int(input("Enter any number: "))
if a>=0:
    if a==0:
        print("zero")
    else:
        print("positive")
else:
    print("negative")
    
    
    
    `

Enter any number:

ValueError: invalid literal for int() with base 10: ''

In [40]:
a=int(input("enter the number"))
if (a>0):
    print("positive")
if (a<0):
    print("negative")
if (a==0):
    print("zero")

enter the number-1
negative

1. Take values of length and breadth of a rectangle from user and check if it is square or not.

In [43]:
L = float(input("Enter the Length: "))
B = float(input("Enter the Breadth: "))
if(L==B):
    print("It is Square")
else:
    print("It is Rectangle")

Enter the Length: 10
Enter the Breadth: 15
It is Rectangle

2. A shop will give discount of 10% if the cost of purchased quantity is more than 1000.Ask user for quantitySuppose, one unit will cost 100. Judge and print total cost for user.

In [50]:
qa=int(input("enter quantity"))
rs_q=qa*100
if (rs_q>1000):
    dis=rs_q*(10/100)
    print()
    total_cost=rs_q-dis
    print("total amount ",total_cost)
else:
    print("aur saman lele")

enter quantity11

total amount  990.0

3. A school has following rules for grading system:                                                                     a. Below 25 - F.                                       b. 25 to 45 - E. 
            c. 45 to 50 - D.
            d. 50 to 60 - C.                                       e. 60 to 80 - B.
            f. Above 80 - A.

In [52]:
M = int(input("Enter Your Marks: "))
if(M<25):
    print("F")
elif(M>=25 and M<45):
    print("E")
elif(M>=45 and M<50):
    print("D")
elif(M>=50 and M<60):
    print("C")
elif(M>=60 and M<=80):
    print("B")
else:
    print("A")

Enter Your Marks: 80
B

4. Take input of age of 3 people by user and determine oldest and youngest among them

In [60]:
p1=int(input("Enter Person 1:"))
p2=int(input("Enter Person 2:"))
p3=int(input("Enter Person 3:"))

if(p1>p2 and p1>p3):
    print("\nPerson 1 is Oldest")
    
elif(p2>p1 and p2>p3):
    print("Person 2 is Oldest")
    
else:
    print("Person 3 is Oldest")

Enter Person 1:9
Enter Person 2:6
Enter Person 3:10
Person 3 is Oldest

In [61]:
if(p1<p2 and p1<p3):
    print("Person 1 is Youngest")
    
elif(p2<p1 and p2<p3):
    print("Person 2 is Youngest")
    
else:
    print("Person 3 is Youngest")

Person 2 is Youngest

5. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria

cost price (in rs)                    tax
  > 100000                            15%
  > 50000 and <= 100000               10%
  <= 50000                            05%

In [7]:
v_price=float(input("Enter the Price of Vehicle in Rs. : "))
if(v_price>100000):
    tax=v_price*(15/100)
    print("Your vehicle's Road tax will be in Rs. :",tax)
elif(v_price>50000 and v_price<=100000):
    tax=v_price*(10/100)
    print("Your vehicle's Road tax will be in Rs. :",tax)
else:
    tax=v_price*(5/100)
    print("Your vehicle's Road tax will be in Rs. :",tax)

Enter the Price of Vehicle in Rs. : 20000
Your vehicle's Road tax will be in Rs. : 1000.0

In [8]:
a = "SAHIL"

In [22]:
for i in a:
    print(i)

S
A
H
I
L

In [16]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
p=int(input("enter a number to find table:"))
for i in range(1,11):
    c=p*i
    print(p,"*",i,"=",c)

enter a number to find table:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [37]:
k = 5
while (k<5):
    print(k)
    k+=1

In [46]:
a=int(input("enter a number"))
b=1
while(b<11):
    c=a*b
    print(a,"*",b,"=",c)
    b+=2

enter a number5
5 * 1 = 5
5 * 3 = 15
5 * 5 = 25
5 * 7 = 35
5 * 9 = 45

In [45]:
print(b)

5

In [44]:
b=5

In [49]:
a=0
for i in range(1,11):
    a+=i
print("sum of 1st 10 natural numbers",a)

sum of 1st 10 natural numbers 55

In [54]:
n=int(input("Enter the choice : "))
a=0
for i in range (1,n+1):
    num=int(input("Enter the value : "))
    a=a+num
avg=a/n
print("Average of",n,"number is",avg)

Enter the choice : 5
Enter the value : 3
Enter the value : 4
Enter the value : 5
Enter the value : 6
Enter the value : 7
Average of  5 number is 5.0

In [56]:
for i in range(2,6):
    for j in range(1,6):
        print(i,"*",j,"=",i*j)
    print("nxt iteration")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
nxt iteration
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
nxt iteration
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
nxt iteration
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
nxt iteration

In [57]:
for i in range(2,6):
    j=1
    while(j<=5):
        print(i,"*",j,"=",i*j)
        j+=1
    print("next iteration")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
next iteration
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
next iteration
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
next iteration
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
next iteration

In [58]:
i=2
while(i<6):
    for j in range(1,6):
        print(i,"*",j,"=",i*j)
    print("next iteration")
    print()
    i+=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
next iteration

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
next iteration

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
next iteration

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
next iteration